@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
 max-width: 1600px;
 margin: 0;
 padding: 0;
 background-color:#412567;
 box-sizing: border-box;   
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 

}


.bg  {
    background-color: #412567;
    color:white;
    margin-left: 200px;
    margin-right: 200px;
    

}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.menu {
    display: flex;
    gap:18px;
    list-style: none;
    
}

.menu li a {
    text-decoration: none;
    color:#ffffff;
    font-weight: 570px;
    
}

button {
    padding: 10px 17px;
    border: none;
    background: linear-gradient(to top, yellow, #bd0ea5, rgb(216, 52, 238));
    border-radius: 16px;
}
 #second{
    color: #bd0ea5;

}